{% extends 'base.html.twig' %}

{% block title %}Toutes les années{% endblock %}

{% block body %}
    <h1>Années</h1>
    <a href="{{ path('dates_new') }}" class="changeDelete">Nouveau</a>
        <div class="allYears">
        {% for date in dates %}
                <div class="flexdeleteChange">
                    <p class="year">{{ date.year }}</p>
                    <a href="{{ path('dates_edit', {'id': date.id}) }}" class="noBgEdit">modifier</a>
                    {{ include('dates/_delete_form.html.twig') }} 
                </div>
        {% else %}
            <td colspan="3">Aucune donnée enregistrée</td>
        {% endfor %}
        </div>

   
{% endblock %}