{% extends 'base.html.twig' %}

{% block title %}Nouvelle année{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle année</h1>

    {{ include('dates/_form.html.twig') }}

    <a href="{{ path('dates_index') }}">retour</a>
{% endblock %}