{% extends 'base.html.twig' %}

{% block title %}Projects index{% endblock %}

{% block body %}
    <h1>Liste des projets</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom du projet</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
               
                <td>{{ project.projectName }}</td>
                
                <td>
                    <a href="{{ path('projects_show', {'id': project.id}) }}">voir</a>
                    <a href="{{ path('projects_edit', {'id': project.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun projet enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('projects_new') }}"><button>Nouveau</button></a>
{% endblock %}