{% extends 'base.html.twig' %}

{% block title %}Nouveau projet{% endblock %}

{% block body %}
    <h1>Nouveau projet</h1>

    {{ include('projects/_form.html.twig') }}

    <a href="{{ path('projects_index') }}">retour</a>
{% endblock %}