{% extends 'base.html.twig' %}

{% block title %}New BlogArticles{% endblock %}

{% block body %}
    <h1>Create new BlogArticles</h1>

    {{ include('blog_articles/_form.html.twig') }}

    <a href="{{ path('blog_articles_index') }}">back to list</a>
{% endblock %}