{% extends 'base.html.twig' %}

{% block title %}Pays - Modifier{% endblock %}

{% block body %}
    <h1>Modifier</h1>

    {{ include('countries/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('countries_index') }}">retour</a>

    
{% endblock %}