{% extends 'base.html.twig' %}

{% block title %}Pays - Nouveau{% endblock %}

{% block body %}
    <h1>Enregistrer un nouveau pays</h1>

    {{ include('countries/_form.html.twig') }}

    <a href="{{ path('countries_index') }}">retour</a>
{% endblock %}