{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <h1>Ajouter des informations au profil</h1>

    {{ include('presentation/_form.html.twig') }}

    <a href="{{ path('presentation_index') }}">retour</a>
{% endblock %}