@import 'variables.scss';
@import '_partials/nav.scss';
@import '_partials/main.scss';
@import '_partials/secMenu.scss';
@import '_partials/logout.scss';
@import '_partials/btnModifDelete.scss';
@import '_partials/connexion.scss';