// .allYears{
//     display:flex;
//     flex-direction: column;
//     justify-content: center;
//     height: 70vh;
//     position: absolute;
//     top:20%;
//     .flexdeleteChange{
//         display:flex;
//         flex-direction: row;
//         align-items: center;
//         height: 30px;
//         margin: 3px 0;
//         .noBgEdit{
//             color: $blue;
//             font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
//             font-weight: 500;
//             font-size: 14px;
//             text-transform: uppercase;
//             text-decoration: none;
//             transition: 0.1s ease;
//             padding: 0px 6px 1px 6px;
//             cursor: pointer;
//             background:transparent;
//             border:none;
//             width: auto;
//         }
//         .margin{
//             margin-bottom: 5px;
//         }
//     }
// }

.changeDelete, .new{
    color: white;
    background-color: $blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.1s ease;
    padding: 6px 6px 6px 6px;
    cursor: pointer;
    border:none;
    width: auto;
}
.editpencil, {
    height: 20px;
    width:20px;
    margin: auto 10px;
}
.see {
    height: 20px;
    width:auto;
    margin: auto 10px;
}

button {
    background: transparent;
    border: transparent;
    cursor: pointer;
    
    .deletecross{
    height: 20px;
    width:20px;
    margin: auto 10px;
    
}
}
.delete, .change{
    color: $blue;
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.1s ease;
    padding: 6px 6px 6px 6px;
    cursor: pointer;
    border:none;
    width: auto;
}
a{
    text-decoration: none;
    p.back{
        color: $blue;
        background-color: transparent;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
        font-size: 13px;
        text-transform: uppercase;
        padding-left: 10px;
        transition: 0.1s ease;
        cursor: pointer;
        border:none;
        width: auto;
        margin: 0;
    }
}