{% extends 'base.html.twig' %}

{% block title %}Formation - modifier{% endblock %}

{% block body %}
    <h1>Modifier</h1>

    {{ include('school/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('school_index') }}">retour</a>

  
{% endblock %}