{% extends 'base.html.twig' %}

{% block title %}Formation - accueil{% endblock %}

{% block body %}
    <h1 class="mainTitle">Formation</h1>

    <table class="table">
        <tbody>
        {% for school in schools %}
            <div class="editDelete alignRight">
                <h3>{{ school.diplomaName }}</h3>
                <div class="buttons">
                    <a href="{{ path('school_edit', {'id': school.id}) }}" class="change">Modifier</a>
                    {{ include('school/_delete_form.html.twig') }}
                </div>              
            </div>
           
        {% else %}
            <tr>
                <td colspan="3">Aucune donnée enregistrée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('school_new') }}" class="new">Nouveau</a>
{% endblock %}