{% extends 'base.html.twig' %}

{% block title %}Formation - nouveau{% endblock %}

{% block body %}
    <h1>Enregistrer nouvelle formation</h1>

    {{ include('school/_form.html.twig') }}

    <a href="{{ path('school_index') }}">retour</a>
{% endblock %}