{% extends 'base.html.twig' %}

{% block title %}Places index{% endblock %}

{% block body %}
    <h1>Places index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Entreprises/Ecoles</th>
             
            </tr>
        </thead>
        <tbody>
        {% for place in places %}
            <tr>

                <td>{{ place.placeName }}</td>
                <td>
            
                    <a href="{{ path('places_edit', {'id': place.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('places_new') }}">Create new</a>
{% endblock %}