{% extends 'base.html.twig' %}

{% block title %}Edit Skills{% endblock %}

{% block body %}
    <h1>Modifier {{skill.skill}}</h1>

    {{ include('skills/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('skills_index') }}" >Retour</a>

   
{% endblock %}